body {
    background-color: #fafafa
}

h1 {
    color: purple;
    font-family: sans-serif;
    text-decoration: underline;
}

p {
    font-size: 1.1em;
    font-family: sans-serif;
}

#second {
    font-family: sans-serif;
    font-size: 0.9em;
    padding-bottom: 15px
}

input, button {
    font-size: 1em;
    padding:6px 10px 5px 10px;
}

button {
    background-color: purple;
    border-color: plum;
    color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 30px 0 0 0;
  font-family: sans-serif;
}

@media (min-width: 781px) {
  ul {
    width: 40%;
}
}

ul .elem {
  cursor: pointer;
  background-color: white;
  padding: 12px;
  font-size: 16px;
  letter-spacing: 0.2px;
  display: block;
  position: relative;
}

.elem {
  border-bottom: 1px solid purple;
}

li.elem.done {
    text-decoration: line-through;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
  font-weight: 600;
}

.close:hover {background: magenta;}